/*clearfix«Â∏°∂Ø*/
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix{
	zoom:1;
}

.head .title{
	color:green;
	font-weight:bold;
	font-size:black;
}
