<!DOCTYPE html> 
<html> 

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>知乎阅读</title> 
    <link rel="stylesheet" href="static/jquery.mobile-1.1.0.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="static/jquery-1.7.1.js"></script>
    <script src="static/underscore.js"></script>
    <script src="static/backbone.js"></script>
    <script src="static/jquery.mobile-1.1.0.js"></script>

    <link rel="stylesheet" href="style.css" />

</head> 

<body> 

    <script type="text/template" id="list-item-template">
        <a href="<%= url %>" data-transition="slide">
            <img src="<%= imgURL %>">
            <h3><%= title %></h3>
            <p><%= author.name %> &bull; <%= author.bio %></p>
        </a>
    </script>
    <div data-role="page" data-theme="b" id="login-page">

        <div data-role="header" data-theme="b" data-position="fixed">
            <h1>知乎-登陆</h1>
        </div><!-- /header -->

        <div data-role="content" data-theme="b">   
            <h3 style="margin-left:10%;">知乎-真实的社交问答平台</h3>
            <form data-transition="flip" action="/ReaderMobile#home-page">
                <ul style="list-style:none;margin-left:0px;">
                <li>
                    <label>邮箱：</label><input name="username" type="text" /><br />
                </li>
                <li>
                    <label>密码：</label><input name="username" type="text" /><br />
                </li>
                <li>
                    <input type="submit" data-inline="true" value="login" class="ui-button-right"/>
                </li>
            </form>
            <a href="" class="ui-button-right">注册账号</a>
        </div><!-- /content -->

        <div data-role="footer" data-position="fixed" data-theme="b">
            <h4>知乎欢迎您！</h4>
        </div><!-- /footer -->

    </div><!-- /page -->


    <div data-role="page" class="answer" id="answer-page">
        <div data-role="header" data-position="fixed" data-theme="b">
            <a data-rel="back" data-transition="flip" data-icon="back">返回</a>
            <h1>查看答案</h1>
            <a data-transition="flip" data-icon="star">分享</a>
        </div><!-- /header -->

        <div data-role="content" data-theme="c" class="content">   
            <div class="question-head">
                <h3>你所在的行业和工作是怎样的，收入、发展前景和挑战如何？</h3>
                <p>这个问题可能会耽误您很多时间，但是，这个问题实在是憋了许久。每个大学生考虑以后从事行业的方式都不同，这个问题的回答会对迷茫的大学生有莫大的帮助。</p>
            </div>
            <div class="answer-info">
                <img src="images/album-mg.jpg" class="author-img">
                <div class="author-container">
                    <strong class="author-name">张三丰</strong>
                    <span class="author-bio">武当派掌门人，一代宗师</span>
                </div>

            </div>
            <div class="answer-body">
                <p class="vote-info">123 票，来自 张无忌，赵敏，萧峰，胡一刀 等</p>
                <div class="answer-text">
                投资银行业务人员<br><br> 投行有很多块业务，具体来说我做的这一块就是帮企业上市，已经上市以后的增发、重组并购等等。<br><br>我工作的具体内容包括：全面调查企业历史上是否遵纪守法、股东和高管行为是否合法、财务是否真实健康、业务的特点现状和前景等等，如果有不合法合规的要求企业整改，根据调查和整改结果撰写上市的申请文件，和证监会沟通解释，最后帮助企业卖股票完成发行和上市。<br><br> 证券行业内部业务不同，薪水也有较大差别。具体的投行业务人员，入门级薪水应当在8万-40万左右（一年），大多数应当在10~20万，税前，没有任何灰色收入，可能有少量补贴如手机费餐费之类的。<br>工作三年后，如果能排名中等以上，薪水大约翻一番或者增长两倍。如果市场行情特别好，再翻一番。<br><br> 压力最大的时候不是工作不顺，而是市场不好。08年的时候曾经整个IPO停发，公司每天发着工资但是没事做，裁员的风声天天传，随时可能轮到自己。这两年尽管市场好一些了，但是身边永远能看到、听到裁员的消息，一旦市场不好/业务开展不顺，可能整个部门就一锅端的裁员了，这是压力最大的。<br>其次是工作有时候会比较累，每年大约会有两三个月（多的话半年，外资公司的话可能是10各月）工作16个小时以上，日常工作10个小时相对比较正常。<br><br> 典型的一天如果比较忙的话，早上9点钟到公司或者项目现场，分头写文件一上午，吃饭半小时，下午开个会一个小时，接着查资料写文件一下午，吃饭一小时，接着写文件到半夜12点，凑到一起讨论和交叉检查，继续修改到两点，进展顺利的可以回去睡觉，不顺利的同志自己掌握时间睡觉。<br>不忙的时候晚上9点收工睡觉。<br><br>人员变动比较频繁，很多人做会逐渐转行，如果两三年都没有什么进展的话基本上就会自己走掉。其他跳槽也很常见，工作在哪儿都是做，内容差不多。<br>&nbsp;<br>做投行没有什么值得高兴的地方。我个人更喜欢一些技术性、专业性比较强的工作，真心不喜欢干投行。
                </div>
            </div>

        </div>
        
        <div data-role="footer" class="ui-grid-b" data-position="fixed" data-id="globale-footer" data-theme="b">
            <div data-role="navbar" role="navigation" class="ui-navbar ui-navbar-noicons">
                <a data-rel="back" class="ui-block-a ui-btn-active" data-icon="home" data-transition="slide">全部</a>
                <a href="#topic-page" class="ui-block-b" data-icon="search" data-transition="slide">话题</a>
                <a href="#user-page" class="ui-block-c" data-icon="star" data-transition="slide">用户</a>
            </div>
        </div><!-- /footer -->
    </div>

    <div data-role="page" class="home" id="home-page" data-theme="c">

        <div data-role="header" data-position="fixed" data-theme="b">
            <a href="index.html" data-transition="flip" data-icon="minus">登出</a>
            <h1>知乎阅读</h1>
            <a href="index.html" data-transition="flip" data-icon="refresh">刷新</a>
        </div><!-- /header -->

        <div data-role="content" data-theme="b" class="content" id="home-content">   
            <ul data-role="listview" data-theme="c" class="answer-list" id="home-list-wrap"> 
            </ul>
            <a href="javascript:;" id="loadmore" data-role="button" class="loadmore" style="display:none;" data-theme="c">更多</a>
            <div id="loading" class="loading"><img src="images/loading.gif" />&nbsp;正在加载...</div>   
            
        </div><!-- /content -->

        <div data-role="footer" class="ui-grid-b" data-position="fixed" data-id="globale-footer" data-theme="b">
            <div data-role="navbar" role="navigation" class="ui-navbar ui-navbar-noicons">
                <a class="ui-block-a ui-btn-active" data-icon="home">全部</a>
                <a href="#topic-page" class="ui-block-b" data-icon="search" data-transition="slide">话题</a>
                <a href="#user-page" class="ui-block-c" data-icon="star" data-transition="slide">用户</a>
            </div>
        </div><!-- /footer -->

    </div><!-- /page -->

    <div data-role="page" class="topic" id="topic-page">

        <div data-role="header" data-theme="b"  data-position="fixed">
            <a  data-rel="back" data-role="button" data-inline="true" data-icon="back">返回</a>
            <h1>话题分类</h1>
        </div><!-- /header -->

        <div data-role="content" data-theme="b">   

            <div data-role="collapsible-set" data-theme="c" data-iconpos="right">

            <div data-role="collapsible" data-iconpos="right" data-collapsed="false">
                <h3>世界历史(15个最佳答案)</h3>
                    <ul data-role="listview" data-theme="c" class="answer-list"> 
                        <li><a href="answer_item.html">
                            <img src="images/album-mg.jpg">
                            <h3>你所在的行业和工作是怎样的，收入、发展前景和挑战如何？</h3>
                            <p>张三丰 &bull; 武当掌门人，一代宗师</p>
                        </a>
                        </li>
                        <li><a href="answer_item.html">
                            <img src="images/album-mg.jpg">
                            <h3>KTV 的选歌系统的交互设计为什么一个比一个烂？用户体验对于 KTV 的意义如何？如果是你来设计，你会设计成什么样的？</h3>
                            <p>张三丰 &bull; 武当掌门人，一代宗师</p>
                        </a>
                        </li>
                        <li><a href="answer_item.html">
                            <img src="images/album-mg.jpg">
                            <h3>你所在的行业和工作是怎样的，收入、发展前景和挑战如何？</h3>
                            <p>张三丰 &bull; 武当掌门人，一代宗师</p>
                        </a>
                        </li>
                    </ul>
            </div>

            <div data-role="collapsible" data-iconpos="right" >
                <h3>iPad商标权纠纷(12个最佳答案)</h3>
                <p>I'm the collapsible set content for section B.</p>
            </div>
            </div>
        </div><!-- /content -->

        <div data-role="footer" class="ui-grid-b" data-position="fixed" data-id="globale-footer" data-theme="b">
            <div data-role="navbar" role="navigation" class="ui-navbar ui-navbar-noicons">
                <a href="#home-page" class="ui-block-a" data-icon="home" data-transition="slide" data-rel="back">全部</a>
                <a class="ui-block-b ui-btn-active" data-icon="search">话题</a>
                <a href="#user-page" class="ui-block-c" data-icon="star" data-transition="slide">用户</a>
            </div>
        </div><!-- /footer -->

    </div><!-- /page -->

    <script src="reader.js"></script>
</body>
</html>

