
#main{
    width:960px;
    margin:auto;
    background: #EEE;
    border: 1px solid #AEB7BF;
    background: #EEE;
    box-shadow: 1px 0 1px rgba(255, 255, 255, 0.7) inset, 1px 0 15px rgba(187, 196, 202, 0.3) inset, 1px 0 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.header{
    padding: 13px;
    border-top: 1px solid white;
    border-bottom: 1px solid #fff;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DFE3E6), to(#B7C0C7));
    background: -moz-linear-gradient(top, #DFE3E6, #B7C0C7);
    background: linear-gradient(top, #DFE3E6, #B7C0C7);
}           
.body{
    border-top:1px solid #ddd;
    padding:16px;
    border-bottom:1px solid #ddd;
    min-height:400px;
}    
.footer{
    height:50px;
    text-align:center;
    vertical-align:center;
    padding:10px;
    color:#bbb;
    font-size:12px;
}    

.line-divider{
    height: 1px;
    width: 100%;
    border-top: solid 3px #DDD;
    border-bottom: solid 1px #DDD;
}
